    .nav
		width 100%
		height 30px
		background grey
		.nav-left
			float left
			height 30px
			.nav-items 
				padding 0
				height 30px
				margin 0
				line-height 30px
				a
					display inline-block
					float left
					text-decoration none
					font-size 12px
					color white
					a:hover
						color black
					li
						list-style none
						margin 0 10px
					li:hover
						color black
		.nav-right
			float right
			height 30px
			line-height 30px
			.nav-items 
				padding 0
				height 30px
				margin 0
				line-height 30px
				a
					float left
					display inline-block
					font-size 12px
					text-decoration none
					color #fff
					li
						list-style none
						margin 0 10px
					li:hover
						color black
.header
	background #f6f6f1
	border-bottom 1px solid rgba(255,200,200,.2)
	.header-book
		height 90px
		width 960px
		margin:0 auto
		.header-logo
			float left
			line-height 30px
			margin-right 100px
			width 115px
			height 27px
			margin-top 30px
			margin-left 10px
			background-image url(http://img3.doubanio.com/dae/accounts/resources/0246c88/book/assets/lg_book_a11_1.png?s=1)
			a
				color #614e3c
				font-size 35px
				text-decoration none
		.header-serach
			margin-top 26px
			width 600px
			float left
			input
				width 400px
				height 30px
				display inline-block
				padding 0 10px
			input::-webkit-input-placeholder 
				color #aab2bd
				font-size 14px
			.search-btn
				height 34px
				width 50px
				margin-left -5px
				margin-top 1px
				background #a09e95
				outline-color:#000
				outline-style none
				outline-width 0
				border none
				border-radius 0 3px 3px 0
				cursor pointer
